input{
    width: 70%;
   box-sizing: border-box;
border-radius: 5px;
outline: none;
max-width: 400px;
}


.inputContainer{
    position: absolute;
	left: 15px;
	top: 40px;
	color: gray;
    width: 100%;
    margin-bottom: 10px;
}
#fname{
    margin-left: -10px;;
}

